@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    
}

body{
    background: linear-gradient(90deg, #000, rgb(9, 9, 62));
}

nav p{
    font-size: 1.3rem;
}

p span{
    color: rgb(0, 13, 255);
}

.material-symbols-outlined{
    
}

.navbar{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    align-items: center;
    justify-content: space-between;
}

.navbar-links{
    font-size: 0.5em;
}
a{
    text-decoration: none;
}

ul{
    background-color: rgb(35, 35, 109);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.navbar-links--container li{
    font-size: 1rem;
    display: block;
    list-style: none;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align:start;
}
nav ul.show{
    display: block;
    width: 100%;
}

main{
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4rem auto;

}

main h1{
    font-size: 3rem;
}

main p{
    color: rgb(185, 185, 185);
    font-size: 0.9rem;
    margin-top: 0.4rem;

}

.main-content--buttons{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.main-content--btn{
    background-color: transparent;
    outline: none;
    border: 1.5px solid blue;
    font-size: 0.8rem;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    margin-right: 0.4rem;
    margin-bottom: 1rem;
} 

.main-content--btn:hover{
    background-color: blue;
    transition: all ease 0.4s;
}

.about-content h1{
    font-size: 2rem;
}

.about--sub-heading{
    color: rgb(185, 185, 185);
    font-size: 0.8rem;
    line-height: 0.6rem;

}

.about--description{
    width: 90%;
    color: rgb(185, 185, 185);
    font-size: 0.8rem;
    margin-top: 0.4rem;
}

.about{
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4rem auto;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 2rem;
    margin: 0 auto;
    margin-top: 2rem;

}

.card{
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(11, 11, 101), rgb(73, 20, 73), rgb(11, 11, 101));
    align-items: center;
    justify-content: center;
    border: 1.5px solid blue;
    
    border-radius: 0.5rem;
    width: 13rem;
    height: 14rem;
}

.card-icon{
    width: 4rem;
    height: 4rem;
    
}

.card-content{
    font-size: 1rem;
   text-align: center;
   margin-top: 2rem;
}

.projects{
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4rem auto;
}

.projects--sub-heading{
    color: rgb(185, 185, 185);
    font-size: 0.8rem;
    line-height: 0.6rem;
}

.projects--main-heading{
    font-size: 2rem;
}

.projects--description{
    color: rgb(185, 185, 185);
    font-size: 0.8rem;
    margin-top: 0.4rem;
}



.projects-cards--container{
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 1rem;
   margin: 2rem auto;

}

.projects-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(164, 164, 255);
    width: 20rem;
    height: auto;
    border-radius: 0.5rem;
    
    
}

.projects-card img{
    width: 18rem;
    height: 17rem;
    margin: 0.5rem auto;
    border-radius: 0.4rem;
}
.projects-card h2{
    margin: 0 auto;
    font-size: 1.2rem;
    
}
.projects-card p{
    width: 18rem;
    height: 8rem;
    margin: 1rem auto;
    font-size: 0.7rem;
    color: rgb(185, 185, 185);
    text-align: justify;
}

.projects-langUSe{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 17rem;
    margin: 0rem 0.2rem 1rem 1rem;

    
    
}

.projects-langUSe a{
    font-size: 12px;
    border: 1px solid orange;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    background-color: transparent;
}

.gitHubLinkBtn:hover{
    background-color: orange;
    transition: all ease 0.4s;
    color: #000;
    font-weight:bold;
}

.projects-langUSe h8{
    font-size: 12px;
    

}

.html-lang{
    color: red;
}

.js-lang{
    color: yellow;
}

.css-lang{
    color: rgb(195, 0, 255);
}


.certifications{
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4rem auto;
}

.certifications h1{
    font-size: 2rem;
}

.certificates-card--container{
    display: grid;
   grid-template-columns: 1fr;
   grid-gap: 1rem;
   margin: 2rem auto;
}

.certificates-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(164, 164, 255);
    width: 22rem;
    height: auto;
    border-radius: 0.5rem;
}

.certificates-card img{

    width: 20rem;
    height: 16rem;
    margin: 0.5rem auto;
}

.certifications-card--content{
    display: flex;
    flex-direction: column;
    margin: 1rem;

}

.certifications-card--content a{
    font-size: 13.5px;
    width: 8rem;
    border: 1px solid orange;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    background-color: transparent;
    margin-top: 1.5rem;
    text-align: center;
}

.certifications-card--content h3{
    margin-bottom: 1rem;
}

.certificates-link:hover{
    background-color: orange;
    transition: all ease 0.4s;
    color: #000;
    font-weight:bold;
}

.skills{
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4rem auto;
}

.skills--sub-heading{
    color: rgb(185, 185, 185);
    font-size: 0.8rem;
    line-height: 0.6rem;
}
.skills--main-heading{
    font-size: 2rem;
}
.contact--sub-heading{
    color: rgb(185, 185, 185);
    font-size: 0.8rem;
    line-height: 0.6rem;
}
.contact--main-heading{
    font-size: 2rem;
}

.skills-description{
    color: rgb(185, 185, 185);
    font-size: 0.8rem;
    margin-top: 0.4rem;
}

.logos{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    margin-top: 1rem;

}

.logo{
    width: 4rem;
    height: 4rem;
    margin-top: 2rem;
    margin-right: 1rem;
}

.contact{

    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.inputs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.inputs>:last-child{
    margin-bottom: 0;
}

textarea{
    background-color: rgb(37, 37, 91);
    color: white;
    padding: 0.2rem 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    width: 80%;
    height: 12rem;
    font-size: 0.8rem;
    resize: none;
}

.ip{
    margin-bottom: 2rem;
}

.ip input{
    background-color: rgb(37, 37, 91);
    color: white;
    padding: 0.6rem 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    width: 80%;
    font-size: 0.8rem;
}

input::placeholder{
    color: rgb(185, 185, 185);
}
textarea::placeholder{
    color: rgb(185, 185, 185);
}

.contact button{
    background-color: transparent;
    outline: none;
    border: 1.5px solid blue;
    font-size: 0.9rem;
   width: 25%;
    border-radius: 0.75rem;
    margin-top: 0.5rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    
    
    
}

.contact button:hover{
    background-color: blue;
    transition: all ease 0.4s;    
}

.footer{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 0.3rem;
    margin-top: 4rem;
    border-top: 1px solid #ffffff;
}

.footer-left h2{
    font-size: 1.5rem;
}
.footer-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-middle img{
    width: 9rem;
    margin-bottom: 1rem;
}

.footer-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.footer-links{
    display: flex;
    margin-top: 1rem;
    
}

.social-links a i{
    font-size: 1rem;
}
.social-links a {
   margin-right: 1rem;
}
.bottom-links:hover{
   color: blue;
   text-decoration: underline;
   transition: all ease 0.5s;
}

.footer-links li{
    list-style: none;
    margin-right: 2rem;
    font-size: 0.5rem;
    
    
}

.footer p{
    border-top: 1px solid rgb(185, 185, 185);
    font-size: 0.75rem;
    margin-top: 2rem;
    color: rgb(185, 185, 185);
    
}

@media screen and (min-width: 768px) {
    .navbar-links--container li{
        display: block;
        list-style: none;
    }

    .navbar .material-symbols-outlined{
        display: none;
    }

    .navbar-links a{
        font-size: 1rem;
        margin-right: 0.8rem;
    }

    nav p{
        font-size: 1rem;
        
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }

    .navlinks:hover{
        color: blue;
        text-decoration: underline;
        transition: all ease 0.5s;
     }

     main h1{
        font-size: 4rem;
    }
    main p{
        color: rgb(185, 185, 185);
        font-size: 1.5rem;
        margin-top: 0.4rem;
    
    }

    .main-content--buttons{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    .main-content--btn{
        background-color: transparent;
        outline: none;
        border: 2px solid blue;
        font-size: 1.1rem;
        padding: 1rem 2rem;
        border-radius: 0.75rem;
        margin-right: 0.75rem;
        margin-bottom: 1rem;
        margin-top: 3rem;
    } 

    .about-content h1{
        font-size: 3rem;
    }
    
    .about--sub-heading{
        color: rgb(185, 185, 185);
        font-size: 1.2rem;
        line-height: 0.6rem;
    
    }
    
    .about--description{
        color: rgb(185, 185, 185);
        font-size: 1.3rem;
        text-align:left;
        margin-top: 0.4rem;
    }

    .cards{
        
        display: flex;
        flex-grow: 2;
        align-items: center;
        margin-top: 4rem;
        justify-content: center;
        width: 100%;
        
    }
    
    .card{
        
        display: flex;
        flex-direction: column;
        background: linear-gradient(45deg, rgb(11, 11, 101), rgb(73, 20, 73), rgb(11, 11, 101));
        align-items: center;
        justify-content: space-around;
        border: 1.5px solid blue;
        
        border-radius: 0.5rem;
        width: 10rem;
        height: 15rem;
    }

    .card-icon{
        
        width: 4rem;
        height: 4rem;
        
    }
    
    .card-content{
        font-size: 0.9rem;
        text-align: center;
        margin-top: 0;
        
    }

    .projects--sub-heading{
        color: rgb(185, 185, 185);
        font-size: 1.2rem;
        line-height: 0.6rem;
    }
    
    .projects--main-heading{
        font-size: 3rem;
    }
    
    .projects--description{
        color: rgb(185, 185, 185);
        font-size: 1.3rem;
        margin-top: 0.4rem;
    }

    .projects-cards--container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        
     
     }
     .projects-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px solid rgb(164, 164, 255);
        width: 35rem;
        height: auto;
        border-radius: 1rem;
        
        
        
    }
    
    .projects-card img{
        width: 25rem;
        border-radius: 0.8rem;
        height: 25rem;
        margin: 0.5rem auto;
    }
    .projects-card h2{
        margin: 0 auto;
        font-size: 2.5rem;
        
        
    }
    .projects-card p{
        width: 90%;
        font-size: 1.2rem;
        color: rgb(185, 185, 185);
        text-align: justify;
        margin-bottom: 10rem;
    }
    
    .projects-langUSe{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin: 1rem auto;
        
    
        
        
    }
    
    .projects-langUSe a{
        font-size: 20px;
        border: 1px solid orange;
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        background-color: transparent;
    }
    
    .gitHubLinkBtn:hover{
        background-color: orange;
        transition: all ease 0.4s;
        color: #000;
        font-weight:bold;
    }
    
    .projects-langUSe h8{
        font-size: 20px;
        
    
    }
    
    .html-lang{
        color: red;
    }
    
    .js-lang{
        color: yellow;
    }
    
    .css-lang{
        color: rgb(195, 0, 255);
    }

    .certifications{
        width: 95%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 4rem auto;
    }
    
    .certifications h1{
        font-size: 3rem;
    }
    
    .certificates-card--container{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
       margin: 2rem auto;
    }
    
    .certificates-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px solid rgb(164, 164, 255);
        width: 40rem;
        margin: 1rem 1rem;
        height: auto;
        border-radius: 0.5rem;
    }
    
    .certificates-card img{
    
        width: 38rem;
        height: 28rem;
        margin: 0.5rem auto;
        border-radius: 1rem;
    }
    
    .certifications-card--content{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    
    }

    .certifications-card--content{
        font-size: 1.5rem;
    }
    
    .certifications-card--content a{
        font-size: 20px;
        width: 100%;
        border: 1px solid orange;
        border-radius: 0.5rem;
        padding: 0.2rem 0.5rem;
        background-color: transparent;
        margin-top: 1.5rem;
        text-align: center;
    }
    
    .certifications-card--content h3{
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    
    .certificates-link:hover{
        background-color: orange;
        transition: all ease 0.4s;
        color: #000;
        font-weight:bold;
    }

    .skills{
        width: 95%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 4rem auto;
    }
    
    .skills--sub-heading{
        color: rgb(185, 185, 185);
        font-size: 1.2rem;
        line-height: 0.6rem;
    }
    .skills--main-heading{
        font-size: 3rem;
    }
    .contact--sub-heading{
        color: rgb(185, 185, 185);
        font-size: 1.2rem;
        line-height: 0.6rem;
    }
    .contact--main-heading{
        font-size: 3rem;
    }
    
    .skills-description{
        color: rgb(185, 185, 185);
        font-size: 1.3rem;
        margin-top: 0.4rem;
    }
    
    .logos{
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
        margin-top: 1rem;
    
    }
    
    .logo{
        width: 7rem;
        height: 7rem;
        margin-top: 2rem;
        margin-right: 1rem;
    }
    
    .contact{
    
        margin-top: 4rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .inputs{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 3rem;
    }
    
    .inputs>:last-child{
        margin-bottom: 0;
    }
    
    textarea{
        background-color: rgb(37, 37, 91);
        color: white;
        padding: 1rem 1rem;
        outline: none;
        border: none;
        border-radius: 0.4rem;
        width: 80%;
        height: 12rem;
        font-size: 1rem;
        resize: none;
    }
    
    .ip{
        margin-bottom: 2.6rem;
    }
    
    .ip input{
        background-color: rgb(37, 37, 91);
        color: white;
        padding: 1rem 1rem;
        outline: none;
        border: none;
        border-radius: 0.4rem;
        width: 80%;
        font-size: 1rem;
    }
    
    input::placeholder{
        color: rgb(185, 185, 185);
    }
    textarea::placeholder{
        color: rgb(185, 185, 185);
    }
    
    .contact button{
        background-color: transparent;
        outline: none;
        border: 2px solid blue;
        font-size: 1rem;
       width: 20%;
        border-radius: 0.75rem;
        margin-top: 0.5rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        
        
        
    }
    
    .contact button:hover{
        background-color: blue;
        transition: all ease 0.4s;    
    }

    .ip p{
        font-size: 1.3rem;
    }

    .footer{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 0.3rem;
        margin-top: 4rem;
        border-top: 1px solid #ffffff;
    }
    
    .footer-heading{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .footer-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .footer-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .footer-middle img{
        width: 15rem;
        margin-bottom: 1rem;
    }
    
    .footer-middle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }
    
    .footer-links{
        display: flex;
        margin-top: 1rem;
        
    }
    
    .social-links a i{
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    .fa-brands:hover{
        color: blue;
    }
    .fa-solid:hover{
        color: blue;
    }
    .social-links a {
       margin-right: 1rem;
    }
    .bottom-links:hover{
       color: blue;
       text-decoration: underline;
       transition: all ease 0.5s;
    }
    
    .footer-links li{
        list-style: none;
        margin-right: 2rem;
        font-size: 1.4rem;
        
        
    }
    
    .footer p{
        border-top: 1px solid rgb(185, 185, 185);
        font-size: 1rem;
        margin-top: 2rem;
        color: rgb(185, 185, 185);
        
    }
    
    
}




@media screen and (min-width: 1024px) {
    .navbar-links--container li{
        display: block;
        list-style: none;
    }

    .navbar .material-symbols-outlined{
        display: none;
    }

    .navbar-links a{
        font-size: 1.rem;
        margin-right: 3rem;
    }

    nav p{
        font-size: 1rem;
        
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }

    .navlinks:hover{
        color: blue;
        text-decoration: underline;
        transition: all ease 0.5s;
     }

     main{
        margin-top: 15rem;
     }

     main h1{
        font-size: 3rem;
        margin-left: 5rem;
    }
    main p{
        color: rgb(185, 185, 185);
        font-size: 1rem;
        width: 50%;
        margin-top: 0.4rem;
        margin-left: 5rem;
    
    }

    .main-content--buttons{
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        margin-left: 5rem;
    }

    .main-content--btn{
        background-color: transparent;
        outline: none;
        border: 1.5px solid blue;
        font-size: 1rem;
        padding: 0.5rem 0.7rem;
        border-radius: 0.75rem;
        margin-right: 0.75rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    } 

    .about{
        margin-top: 20rem;
    }

    .about-content h1{
        font-size: 3rem;
    }
    
    .about--sub-heading{
        color: rgb(185, 185, 185);
        font-size: 1.2rem;
        line-height: 0.6rem;
    
    }
    
    .about--description{
        color: rgb(185, 185, 185);
        font-size: 1rem;
        width: 70%;
        text-align:left;
        margin-top: 0.4rem;
    }

    .cards{
        
        display: flex;
        flex-grow: 2;
        align-items: center;
        margin-top: 4rem;
        justify-content: center;
        width: 100%;
        
    }
    
    .card{
        
        display: flex;
        flex-direction: column;
        background: linear-gradient(45deg, rgb(11, 11, 101), rgb(73, 20, 73), rgb(11, 11, 101));
        align-items: center;
        justify-content: space-around;
        border: 1.5px solid blue;
        
        border-radius: 0.5rem;
        width: 15rem;
        height: 18rem;
    }

    .card-icon{
        
        width: 4rem;
        height: 4rem;
        
    }
    
    .card-content{
        font-size: 0.9rem;
        text-align: center;
        margin-top: 0;
        
    }

    .projects--sub-heading{
        color: rgb(185, 185, 185);
        font-size: 1.2rem;
        line-height: 0.6rem;
    }
    
    .projects--main-heading{
        font-size: 3rem;
    }
    
    .projects--description{
        color: rgb(185, 185, 185);
        font-size: 1rem;
        width: 70%;
        margin-top: 0.4rem;
    }

    .projects-cards--container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 5rem;
        
     
     }
     .projects-card{
        display: flex;
        margin-right: 1.5rem;
        flex-direction: column;
        justify-content: center;
        border: 1px solid rgb(164, 164, 255);
        width: 20rem;
        height: auto;
        border-radius: 0.5rem;
        
        
        
    }
    
    .projects-card img{
        width: 15rem;
        border-radius: 0.8rem;
        height: 15rem;
        margin: 0.5rem auto;
    }
    .projects-card h2{
        margin: 0.5rem auto;
        font-size: 1.4rem;
        
        
    }
    .projects-card p{
        width: 90%;
        font-size: 0.7rem;
        color: rgb(185, 185, 185);
        text-align: justify;
        margin-bottom: 0rem;
    }
    
    .projects-langUSe{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin: 1rem auto;
        
    
        
        
    }
    
    .projects-langUSe a{
        font-size: 11px;
        border: 1px solid orange;
        border-radius: 0.5rem;
        padding: 0 1rem;
        background-color: transparent;
    }
    
    .gitHubLinkBtn:hover{
        background-color: orange;
        transition: all ease 0.4s;
        color: #000;
        font-weight:bold;
    }
    
    .projects-langUSe h8{
        font-size: 12px;
        
    
    }
    
    .html-lang{
        color: red;
      
    }
    
    .js-lang{
        color: yellow;
    }
    
    .css-lang{
        color: rgb(195, 0, 255);
    }

    .certifications{
        width: 95%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 4rem auto;
    }
    
    .certifications h1{
        font-size: 3rem;
    }
    
    .certificates-card--container{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
       margin: 2rem auto;
    }
    
    .certificates-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid rgb(164, 164, 255);
        width: 20rem;
        margin: 1rem 1rem;
        height: auto;
        border-radius: 0.5rem;
    }
    
    .certificates-card img{
    
        width: 18rem;
        height: 18rem;
        margin: 0.5rem auto;
        border-radius: 1rem;
    }
    
    .certifications-card--content{
        display: flex;
        flex-direction: column;
        margin: 1rem;
    
    }

    .certifications-card--content{
        font-size: 1rem;
    }
    
    .certifications-card--content a{
        font-size: 15px;
        
        border: 1px solid orange;
        border-radius: 0.5rem;
        padding: 0.2rem 0.1rem;
        background-color: transparent;
        margin-top: 1.5rem;
        text-align: center;
    }
    
    .certifications-card--content h3{
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    
    .certificates-link:hover{
        background-color: orange;
        transition: all ease 0.4s;
        color: #000;
        font-weight:bold;
    }

    .skills{
        width: 95%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 15rem;

    }
    
    .skills--sub-heading{
        color: rgb(185, 185, 185);
        font-size: 1.2rem;
        line-height: 0.6rem;
    }
    .skills--main-heading{
        font-size: 3rem;
    }
    .contact--sub-heading{
        color: rgb(185, 185, 185);
        font-size: 1.2rem;
        line-height: 0.6rem;
    }
    .contact--main-heading{
        font-size: 3rem;
    }
    
    .skills-description{
        color: rgb(185, 185, 185);
        font-size: 1rem;
        width: 70%;
        margin-top: 0.4rem;
    }
    
    .logos{
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
        margin-top: 5rem;
    
    }
    
    .logo{
        width: 5rem;
        height: 5rem;
        margin-top: 2rem;
        margin-right: 1rem;
    }
    
    .contact{
    
        margin-top: 15rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .inputs{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 3rem;
    }
    
    .inputs>:last-child{
        margin-bottom: 0;
    }
    
    textarea{
        background-color: rgb(37, 37, 91);
        color: white;
        padding: 0.8rem 0.8rem;
        outline: none;
        border: none;
        border-radius: 0.4rem;
        width: 40%;
        height: 12rem;
        font-size: 0.8rem;
        resize: none;
    }
    
    .ip{
        margin-bottom: 2.6rem;
    }
    
    .ip input{
        background-color: rgb(37, 37, 91);
        color: white;
        padding: 0.8rem 0.8rem;
        outline: none;
        border: none;
        border-radius: 0.4rem;
        width: 40%;
        font-size: 0.8rem;
    }
    
    input::placeholder{
        color: rgb(185, 185, 185);
    }
    textarea::placeholder{
        color: rgb(185, 185, 185);
    }
    
    .contact button{
        background-color: transparent;
        outline: none;
        border: 1px solid blue;
        font-size: 0.8rem;
        width: 150px;
        border-radius: 0.75rem;
        margin-top: 1rem;
        padding-top: rem;
        padding-bottom: 0.4rem;
        
        
        
    }
    
    .contact button:hover{
        background-color: blue;
        transition: all ease 0.4s;    
    }

    .ip p{
        font-size: 1.2rem;
        margin-bottom: 0.7rem;
    }

    .footer{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 0.3rem;
        margin-top: 4rem;
        border-top: 1px solid #ffffff;
    }
    
    .footer-heading{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .footer-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .footer-top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .footer-middle img{
        width: 15rem;
        margin-bottom: 1rem;
    }
    
    .footer-middle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }
    
    .footer-links{
        display: flex;
        margin-top: 1rem;
        
    }
    
    .social-links a i{
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    .fa-brands:hover{
        color: blue;
    }
    .fa-solid:hover{
        color: blue;
    }
    .social-links a {
       margin-right: 1rem;
       
    }
    .bottom-links:hover{
       color: blue;
       text-decoration: underline;
       transition: all ease 0.5s;
    }
    
    .footer-links li{
        list-style: none;
        margin-right: 2rem;
        font-size: 1rem;
        
        
    }
    
    .footer p{
        border-top: 1px solid rgb(185, 185, 185);
        font-size: 0.8em;
        margin-top: 2rem;
        color: rgb(185, 185, 185);
        
    }
    
    
}